*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: url(images/coffeebackground.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container2{
    height: 100vh;
    width: 100%;
    background: url(images/coffeebackground2.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container3{
    height: 100vh;
    width: 100%;
    background: url(images/coffeebackground3.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container4{
    height: 100vh;
    width: 100%;
    background: url(images/coffeebackground4.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px ;
}
.navbar .title{
    color: #dacbc3;
    font-size: 30px;
    margin-left: 110px;
    text-shadow: 2px 2px 8px #d8b99c;
    position: absolute;
    cursor:pointer;
}
span{
    color: #dacbc3;
    text-shadow: 2px 2px 8px #d8b99c;

}
.menu li{
    list-style: none;
    display: inline-block;

}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 25px;
    transition: .4s ease;

}
.menu li a:hover{
    color: #CDAC79;
    border-radius: 2px;
    padding: 8px 20px;
    border: 2px solid #CDAC79;
}
.logo{
    height: 100px;
    margin-top: -4px;
    cursor:pointer;
}
.home{
    height: 420px;
    padding: 70px;
}
.title-1{
    font-size: 57px;
    color: #fff;
    font-weight: 590;
    height: 120px;
}
.home p{
    color: lemonchiffon;
    font-size: 20px;
    padding-top: 10px;
}
.home button{
    height:40px;
    color: #fff;
    background: #CDAC79;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
.home button:hover{
    background: none;
    border: 2px solid #CDAC79;
}
.aboutus{
    height: 400px;
    padding: 70px;
}
.title-2{
    font-size: 56px;
    color: #fff;
    font-weight: 600;
    height: 120px;
}
.aboutus p{
    color: #fff;
    font-size: 20px;
}
.aboutus button{
    height:40px;
    color: #fff;
    background: #CDAC79;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
.aboutus button:hover{
    background: none;
    border: 2px solid #CDAC79;
}
.products{
    height: 400px;
    padding: 70px;
}
.title-3{
    font-size: 56px;
    color: #fff;
    font-weight: 600;
    height: 120px;
}
.products p{
    color: #fff;
    font-size: 20px;
}
.products button{
    height:40px;
    color: #fff;
    background: #CDAC79;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
.products button:hover{
    background: none;
    border: 2px solid #CDAC79;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.products{
    display: flex;
    height: 60%;
    align-items: center;
}
.column1{
    flex-basis: 50%;
}
.column2{
    flex-basis: 50%;
    padding-left: 120px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 20px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/fullbalance.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(10px);
    width: 250px;
    height: 280px;
}
.beans1{
    background-image: url(images/fullbalance.png);
}
.beans2{
    background-image: url(images/fullauthentic.png);
}

.branches{
    height: 400px;
    padding: 70px;
}
.branches p{
    color: #fff;
    font-size: 20px;
}
.branches button{
    height:40px;
    color: #fff;
    background: #CDAC79;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}
.branches button:hover{
    background: none;
    border: 2px solid #CDAC79;
}
.branches{
    height: 400;
    padding: 70px;
}
.title-4{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.title-5{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}